#appTwo {
    height: 100%;

    .jumbo {       
        padding: 80px 0;
        min-height: 65vh;
        background: rgb(208,235,153);
        background: -moz-linear-gradient(350deg, rgba(208,235,153,1) 50%, rgba(0,204,188,1) 51%);
        background: -webkit-linear-gradient(350deg, rgba(208,235,153,1) 50%, rgba(0,204,188,1) 51%);
        background: linear-gradient(350deg, rgba(208,235,153,1) 50%, rgba(0,204,188,1) 51%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d0eb99",endColorstr="#00ccbc",GradientType=1);
        position: relative;

        .background {
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            height: calc(100% - 25%);
            background-image: url(../images/general/jumbo.svg);
            background-repeat: no-repeat;
            background-position: bottom;
            background-origin: content-box;
        }

        .info-section {
            display: inline-block;
            text-align: center;

            h1 {
                font-size: 48px;
                text-transform: uppercase;
                font-weight: 800;
                color: white;
            }    
            p {
                font-size: 24px;
                color: white;
            }
        }  
    }    

    .carousel-container {
        min-height: 35vh;
        max-width: 100%;
        padding: 20px 0;

        .VueCarousel-wrapper {

            .VueCarousel-inner {
                text-align: center;

                .VueCarousel-slide {
                    img {
                        max-width: 100%;
                    }
                    .category-name {
                        text-transform: capitalize;
                        color: black;
                        font-weight: 800;
                    }
                }
            } 
        }
    }

    #category {
        min-height: 100vh;
        padding: 150px 0;

        .filter-box {
            padding: $pd_xl;
            background-color: gray;
        }

        .card {
            .card-body{
                padding: 0;
                img {
                    border-radius: 16px;
                }

            }
            .card-title {
                margin: 0;
            }
        }
    }
}