#appTwo {

    .info-section {
        display: inline-block;
        padding-top: 100px;
    }

    .jumbo {       
        padding-top: 100px;
        min-height: 100vh;

        

        .hero-area {
            align-items:center;
            //background-image: url('../images/general/jumbo.svg');
            //background-position: right;
            //background-repeat: no-repeat;
            //background-size: calc(50% + 300px) calc(30% + 90px);
        }

        .carousel-container {
            width: 100%;

            .VueCarousel-wrapper {

                .VueCarousel-slide {
                    img {
                        max-width: 100%;
                    }
                    p {
                        text-transform: capitalize;
                        color: black;
                        font-weight: 800;
                    }
                }

                
            }
        }
    }

    .scroll-box {
        width: 100%;
        i {
            font-size: 150px;
        }
    }

    #category {
        min-height: 100vh;
        padding: 150px 0;

        .filter-box {
            padding: $pd_xl;
            background-color: gray;
        }

        .card {
            .card-body{
                padding: 0;
                img {
                    border-radius: 16px;
                }

            }
            .card-title {
                margin: 0;
            }
        }
    }


}
