
#login_page {

    // background-color: #0264d6;
    // background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%);
    background: linear-gradient(to bottom, #00ccbf, #d0eb99);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background-color: transparent;
        color: white;
        border:none;

        .card-header {
            border: none;
            background-color: transparent;
            text-align: center;

            h2 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 32px;
            }
        }

        .card-body {

            p {
                font-size: 16px;
            }

            a {
                text-decoration: none;
                color: white;
            }

            .btn-primary {
                // border-color: white;
                // background-color: transparent;
                background-color: #007E8A;
            }
        }
    }
}

#register_page {

    // background-color: #0264d6;
    // background: -webkit-radial-gradient(center, ellipse cover, #0264d6 1%,#1c2b5a 100%);
    background: linear-gradient(to bottom, #00ccbf, #d0eb99);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        background-color: white;
        color: #007E8A;
        border: 1px solid #007E8A;
        margin: 56px 0;

        .card-header {
            border: none;
            background-color: transparent;
            text-align: center;

            h2 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 32px;
            }
        }

        .card-body {

            p {
                font-size: 16px;
            }

            a {
                text-decoration: none;
                color: white;
            }

            .form-control {
                height: calc(2.2em + 0.75rem + 2px);
            }

            .btn-primary {
                // border-color: white;
                // background-color: transparent;
                background-color: #007E8A;
            }
        }
    }
}

#app2 {

    background-color: transparent;
    text-align: center;
    position: fixed;
    color: white;
    border: none;

    a {
        text-decoration: none;
        color: white;
    }

    .navbar-brand {
        h2 {

            a {
                color: white;
            }
        }
    }
}
