nav{
  min-height: 100vh;
  width: 88px;
  background-color: $white;
  border-right: 1px solid #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: width 0.5s ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  .sidebar-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .close-sidebar{
       display: none;
       margin-left: 50px;
       height: 88px;
       width: 88px;
       margin-top: 50px;
       i{
         color: $blue;
         font-size: $font_size_xl;
       }
    }
    .sidebar-link{
      .hamburger-button{
        left: 0;
        width: 100%;
        i{
          position: fixed;
          text-align: center;
          min-width: 88px;
          height: 88px;
          line-height: 88px;
          font-size: $font_size_l;
          color: $blue;
          display: block;
        }
      }
      ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin-top: 100px;
        li{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          a{
            text-decoration: none;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            color: $blue;
            text-align: center;
            i{
              position: relative;
              text-align: center;
              min-width: 88px;
              height: 88px;
              line-height: 88px;
              font-size: $font_size_l;
              color: $blue;
              display: block;
            }p{
              position: relative;
              padding: 0 10px;
              height: 88px;
              line-height: 88px;
              text-align: start;
              white-space: nowrap;
              color: $blue;
              font-size: $font_size_l;
              display: none;
            }
          }
        }
      }
    }
  }
}
.transition{
  //transition: width 0.5s ease;
}
.show{
  //transition: width 0.5s ease;
  width: 248px;
}
.show-p{
  display: block;
}
@media only screen and (max-width: 720px){
  nav{
    display: none;
    .hamburger-button{
      display: none;
    }
  }.hamburger{
    display: block;
  }
}
